
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-family: "Roboto", sans-serif;
}
.matrix-font {
  font-family: "Roboto", sans-serif;
  background: -webkit-linear-gradient(white, #38495a);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a.link {
  color: rgb(204, 2, 46);
}
.myimage{
  width: 75%;
}
.landing-screen {
  background-color: transparent;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.small-font {
  font-size: 1rem;
  color: white;
}
.heading {
  font-size: 8rem;
}
.down-arrow-animation {
  position: absolute;
  bottom: 70px;
  transform: translateX(-50%);
  animation: down-arrow 1s ease infinite;
  cursor: pointer;
}
.down-arrow-animation > span {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 4rem;
  transform: rotate(45deg);
  margin: 0 auto;
  animation: down-arrow 1s ease infinite;
  color: rgb(2, 204, 2);
}
@keyframes down-arrow {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(10px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

/* navbar inside landing screen */
.navbar {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(255, 145, 0, 0.5);
}

.navbar-item {
  margin: 0 20px;
  font-size: 1.75rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.navbar-item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgb(204, 140, 2);
  transition: width 0.3s;
}
.navbar-item:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.navbar-item:hover {
  color: rgb(204, 2, 46);
  transform: scale(1.2);
}
/* about section */
.about-section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: row;
  padding: 100px 20px;
  box-sizing: border-box;
  background:#0f141c url(../images/starsbg.png) repeat center center fixed;
  color: rgb(37, 162, 68);
  border-top: 1px solid #9ca5ad;
}
.heading-left {
  flex: 50%;
  font-size: 3.5rem;
  color: rgb(2, 204, 2);
  padding: 40px;
  box-sizing: border-box;
}
.content-right {
  flex: 50%;
  box-sizing: border-box;
  padding: 40px;
  font-family: "DM Sans", sans-serif;
  /* color: rgb(133, 210, 153); */
  background: -webkit-linear-gradient(white, #38495a);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  line-height: 2rem;
}
/* skills section */
.skill-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  background:#070a0f url("../images/starsbg.png") repeat center center fixed;
  border-top: 1px solid #9ca5ad;
  width: 100%;
  height: 100vh;
  z-index: -4;
  position: relative;
  overflow: hidden;
}
.skill-section *:not(:empty) {
  transform-style: preserve-3d;
}
.skill-list {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  color: rgb(185, 247, 40);
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
}
span.skill-category {
  background: -webkit-linear-gradient(white, #38495a);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.marquee {
  overflow: hidden;
  padding: 20px;
}
.marquee-content {
  display: flex;
  animation: scrolling 10s linear infinite;
}
.marquee-item {
  flex: 0 0 5vw;
  margin: 0 1vw;
}
.marquee-item img {
  display: block;
  width: 100%;
  height: 60px;
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-133vw);
  }
}
/* project section */
.project-section {
  border-top: 1px solid #9ca5ad;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.project-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color:transparent;
  box-shadow: 0 0 10px 5px #9ca5ad;
  margin: 50px;
  width: 80%;
  border: 1px solid #9ca5ad;
}
.project-name-list-menu {
  align-self: flex-start;
  justify-content: start;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: nowrap;
  min-width: 200px;
}
.project-name-list-menu > span {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  padding: 10px 20px;
}

.project-name-list-menu > span:hover {
  color: black;
  background-color: #9ca5ad;
}

.project-name-list-menu > span[data-active="true"] {
  color: black;
  background-color: #9ca5ad;
}

.project-detail[data-active="false"] {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.project-detail[data-active="true"] {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  height: auto;
  overflow: hidden;
  border-left: 1px solid #9ca5ad;
  opacity: 1;
}
.project-title {
  font-size: 2rem;
  color:#cee4fa ;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.project-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 100%;
  padding: 20px;
  overflow: hidden;
}
.project-image img {
  width: 100%;
  height: auto;
}
.project-description {
  font-size: 1.25rem;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
.project-tech-stacks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}
.project-tech-stack {
  position: relative;
  margin: 8px;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 1);
  color: #cee4fa;
  font-family: "DM Sans", sans-serif;
  font-size: 1.25rem;
  border-radius: 8px;
  box-shadow: 0 0 10px #9ca5ad;
  transition: transform 0.3s ease;
}
.project-tech-stack:hover {
  transform: scale(1.1);
}
.project-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.project-link {
  font-weight: bold;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 10px;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #9ca5ad;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.project-link:hover {
  box-shadow: 0 0 10px 5px rgb(204, 140, 2);
  background-color: black;
  color: rgb(204, 140, 2);
  transform: scale(1.1);
}
/* experience section */
.experience-section {
  /* background-color: black; */
  background:#070a0f url("../images/starsbg.png") repeat center center fixed;
  border-top: 1px solid #9ca5ad;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  z-index: -4;
  position: relative;
}
.timeline-container {
  width: 80%;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}
.timeline-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 3px;
  height: 100%;
  background: #fffa;
  z-index: 1;
}
.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}
.timeline-block-right {
  float: right;
}
.timeline-block-left {
  float: left;
  direction: rtl;
}
.marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgb(56, 0, 0);
  background: url("../images/milkyway.png") no-repeat center center fixed;
  margin-top: 10px;
  z-index: 9999;
}
.timeline-content {
  width: 95%;
  padding: 0 15px;
  /* color: rgb(2, 204, 2); */
  background: -webkit-linear-gradient(white, #38495a);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
.timeline-content span {
  font-size: 15px;
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.timeline-content p {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: white;
  font-family: "Roboto", sans-serif;
}
/* Achievement Section */
.heading-small {
  font-size: 3rem;
  color: rgb(2, 204, 2);
  padding: 20px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.achievements-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  /* background: url("../images/bg_4.png") repeat center center fixed; */
  border-top: 1px solid #9ca5ad;
  padding: 40px 0;
}
.achievement {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0px 20px;
}
.achievement-info {
  background-color: black;
  width: 100%;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  border-left: 5px solid #cccfd1;
  box-shadow: 0 0 10px 5px #c6d0da;
}
.achievement-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  background: -webkit-linear-gradient(white, #38495a);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.achievement-description {
  font-size: 1rem;
  color: white;
  font-family: "DM Sans", sans-serif;
  line-height: 1.5rem;
}
/* quote section */
.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  background: url("../images/rectrap.png") no-repeat center center fixed;
  background-size: cover;
  color: white;
  border-top: 1px solid #9ca5ad;
}
.quote-content {
  text-align: center;
  max-width: 600px;
}
.quote-text {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  text-shadow: #070a0f 1px 1px 1px;
}
.quote-author {
  font-size: 1.2rem;
  margin-top: 20px;
  color: rgb(204, 2, 46);
}
/* resume contact section */
.resume-contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-top: 1px solid #9ca5ad;
  flex-direction: column;
}
.resume-container,
.contacts-content {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
}
.resume-container > h1,
.contacts-content > h1 {
  align-self: center;
  font-weight: normal;
  text-align: left;
}
.resume-content,
.contacts-container {
  flex: 50%;
  font-size: 1.5rem;
  color: white;
  font-family: "DM Sans", sans-serif;
  margin: 20px;
  padding: 50px;
}
.resume-content a {
  font-family: "Roboto", sans-serif;
}
/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #070a0f;
  color: white;
  padding: 100px;
}
.site-info {
  align-self: center;
  font-size: 0.75rem;
  line-height: 1.5rem;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .heading {
    font-size: 3rem;
  }
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px 10px;
    margin: 30px 0px;
    width: 50%;
  }
  .navbar-item {
    margin: 10px 0;
    font-size: 1.5rem;
  }

  .about-section {
    flex-direction: column;
    padding: 50px 20px;
  }
  .heading-left,
  .heading-small {
    font-size: 2rem;
    padding: 20px;
    text-align: center;
  }
  .content-right {
    font-size: 1rem;
    padding: 20px;
    text-align: center;
  }
  .project-section {
    padding: 10px;
  }
  .project-container {
    flex-direction: column;
    margin: 10px;
  }
  .project-name-list-menu {
    flex-direction: row;
    white-space: nowrap;
    overflow-x: scroll;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    border-bottom: 1px solid #9ca5ad;
    box-shadow: 0 0 10px 5px #788088;
    scrollbar-width: thin;
    scrollbar-color: #9ca5ad black;
  }
  .project-name-list-menu::-webkit-scrollbar-track {
    background: #788088;
  }
  .project-name-list-menu::-webkit-scrollbar-thumb {
    background-color: #bdcedf;
    border-radius: 6px;
    border: 1px solid black;
  }
  .project-name-list-menu::-webkit-scrollbar {
    height: 1vh;
  }
  .project-name-list-menu > span {
    margin: 5px 0;
    font-size: 1rem;
  }
  .project-detail[data-active="true"] {
    border: none;
    padding: 20px;
    font-size: 1.2rem;
  }
  .timeline-container:before {
    left: 8px;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
  }
  .resume-container,
  .contacts-content {
    flex-direction: column;
  }
  .resume-content,
  .contacts-container {
    margin: 10px;
    padding: 25px;
    text-align: center;
  }
}

/* console font */
.hidden {
  opacity:0;
}
.console-container { 
  font-size:2em;
  text-align:center;
  height:100px;
  width:100%;
  display:block;
  position:relative;
  color:white;
  bottom:0vh;
  left:0;
  right:0;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}