.content-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  text-align: center;
}
  .space-wrapper {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -5;
    overflow: hidden;
  }
  .space-wrapper::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-animation: color-switch 20s cubic-bezier(0.3, 0, 0.7, 1) both infinite;
            animation: color-switch 20s cubic-bezier(0.3, 0, 0.7, 1) both infinite;
    mix-blend-mode: screen;
  }
  .space-wrapper .star-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .space-wrapper .star-wrapper .star {
    --hue: 0;
    --brightness: 80%;
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background-color: hsl(var(--hue), 10%, var(--brightness));
  }
  .space-wrapper .sun-wrapper {
    --size: 50vmin;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .space-wrapper .sun-wrapper.blur {
    filter: blur(3vmin);
    mix-blend-mode: screen;
  }
  .space-wrapper .sun-wrapper .sun, .space-wrapper .sun-wrapper .moon {
    position: absolute;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .space-wrapper .sun-wrapper .sun {
    background-color: gold;
    -webkit-animation: flare 20s cubic-bezier(0.3, 0, 0.7, 1) both infinite;
            animation: flare 20s cubic-bezier(0.3, 0, 0.7, 1) both infinite;
  }
  .space-wrapper .sun-wrapper .moon {
    width: calc(var(--size) + 1vmin);
    height: calc(var(--size) + 1vmin);
    background-color: black;
    -webkit-animation: eclipse 20s cubic-bezier(0.3, 0, 0.7, 1) both infinite;
            animation: eclipse 20s cubic-bezier(0.3, 0, 0.7, 1) both infinite;
    -webkit-animation-name: eclipse, reflect;
            animation-name: eclipse, reflect;
  }
  
  @-webkit-keyframes eclipse {
    0% {
      transform: translate(calc(-50% + 80vw), 0%);
    }
    50% {
      transform: translate(-50%, -50%);
    }
    100% {
      transform: translate(calc(-50% - 80vw), -100%);
    }
  }
  
  @keyframes eclipse {
    0% {
      transform: translate(calc(-50% + 80vw), 0%);
    }
    50% {
      transform: translate(-50%, -50%);
    }
    100% {
      transform: translate(calc(-50% - 80vw), -100%);
    }
  }
  @-webkit-keyframes flare {
    0% {
      box-shadow: 0px 0px 5vmin gold;
      background-color: gold;
    }
    25% {
      box-shadow: 0px 0px 5vmin gold;
      background-color: gold;
    }
    50% {
      box-shadow: 0px 0px 10vmin orangered;
      background-color: orangered;
    }
    75% {
      box-shadow: 0px 0px 5vmin gold;
      background-color: gold;
    }
    100% {
      box-shadow: 0px 0px 5vmin gold;
      background-color: gold;
    }
  }
  @keyframes flare {
    0% {
      box-shadow: 0px 0px 5vmin gold;
      background-color: gold;
    }
    25% {
      box-shadow: 0px 0px 5vmin gold;
      background-color: gold;
    }
    50% {
      box-shadow: 0px 0px 10vmin orangered;
      background-color: orangered;
    }
    75% {
      box-shadow: 0px 0px 5vmin gold;
      background-color: gold;
    }
    100% {
      box-shadow: 0px 0px 5vmin gold;
      background-color: gold;
    }
  }
  @-webkit-keyframes color-switch {
    0% {
      background-color: #0f141c;
    }
    25% {
      background-color: #0f141c;
    }
    50% {
      background-color: #0a0b10;
    }
    75% {
      background-color: #0f141c;
    }
    100% {
      background-color: #0f141c;
    }
  }
  @keyframes color-switch {
    0% {
      background-color: #0f141c;
    }
    25% {
      background-color: #0f141c;
    }
    50% {
      background-color: #0a0b10;
    }
    75% {
      background-color: #0f141c;
    }
    100% {
      background-color: #0f141c;
    }
  }
  @-webkit-keyframes reflect {
    0% {
      box-shadow: 4vmin 2vmin 4vmin -6vmin inset gold;
    }
    25% {
      box-shadow: 4vmin 2vmin 4vmin -6vmin inset gold;
    }
    50% {
      box-shadow: 0vmin 0vmin 4vmin 0vmin inset orangered;
    }
    75% {
      box-shadow: -4vmin -2vmin 4vmin -6vmin inset gold;
    }
    100% {
      box-shadow: -4vmin -2vmin 4vmin -6vmin inset gold;
    }
  }
  @keyframes reflect {
    0% {
      box-shadow: 4vmin 2vmin 4vmin -6vmin inset gold;
    }
    25% {
      box-shadow: 4vmin 2vmin 4vmin -6vmin inset gold;
    }
    50% {
      box-shadow: 0vmin 0vmin 4vmin 0vmin inset orangered;
    }
    75% {
      box-shadow: -4vmin -2vmin 4vmin -6vmin inset gold;
    }
    100% {
      box-shadow: -4vmin -2vmin 4vmin -6vmin inset gold;
    }
  }